/** Import fonts **/

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");

/** General setting for body content **/

body {
    color: #86c232;
    background-color: #474b4f;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

/** Map size **/

#map {
    height: 600px;
    width: 450px;
}

#map-container {
    background-color: #6b6e70;
}

/** Navbar logo and footer links styling **/

.navbar-brand img {
    width: 120%;
    height: 80%;
}

.navbar-brand {
    margin: 0;
}

footer a {
    color: #61892f;
}

footer a:hover {
    color: #86c232;
    text-decoration: none;
}

/** Create separator lines between navbar /  footer and the main content **/

nav {
    border-bottom: solid 2px #61892f;
    margin: 0 120px;
}

footer {
    border-top: solid 2px #61892f;
    margin: 0 120px;
}

/** Navbar padding removed to apply bootstrap classes **/

.navbar {
    padding: 0;
}

/* --- Navbar --- */

.navbar-nav .nav-link {
    color: #61892f;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}

.navbar-toggler {
    color: #61892f;
}

.navbar-toggler:hover,
.navbar-nav .nav-link:hover {
    color: #86c232;
}

#navbar-container {
    margin: auto;
}

/** Display label above input **/

select,
label {
    display: block;
}

select {
    margin: auto;
}

/** Set label and reset button text to uppercase **/

label,
#reset-button {
    text-transform: uppercase;
}

/** City input font size changed **/

input {
    font-size: 20px;
}

/** Reset button **/

#reset-button {
    padding: 8px 20px;
}

/** Styling for buttons **/

.button {
    color: #fff;
    background-color: #61892f;
    border: none;
}

.button:hover {
    background-color: #86c232;
}

/** Swich of frame on focus **/

.button:focus,
#city-input:focus,
.navbar-toggler:focus {
    outline: none;
}

/** Set cursor to pointer for table content and buttons **/

table, .button {
    cursor: pointer;
}

/** Edit select menu button look so it doesn't display default arrows and doesnt't round edges **/

select {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-appearance: button;
    -moz-appearance: button;

    width: 45%;
    padding: 5px 0 5px 10px;
    border: 0 !important;

    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='sort-down' class='svg-inline--fa fa-sort-down fa-w-10' role='img' viewBox='0 0 320 650'><path fill='white' d='M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41z'/></svg>") no-repeat;
    background-size: 15px;
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;

}

/** Margin between social media links **/

.list-inline-item:not(:last-child) {
    margin-right: 2rem;
}

/** Social media icons and navbar button size increase **/

.list-inline-item .fa {
    font-size: 1.4rem;
}

.fa-bars {
    font-size: 2.5rem;
}

/** Centering table in a div **/

table {
    margin: auto;
    font-weight: 300;
}

/** Styling heading for the results table **/

h1 {
    font-size: 1.8rem;
    font-weight: 700;
}

td {
    cursor: pointer;
}

/** Information pop up styling **/

#info-content,
#info-content a {
    color: #474b4e;
}

/** MEDIA QUERIES **/

/** Media queries to deal with select menu button and navbar / footer separator **/

@media only screen and (max-width: 1200px) {

    nav,
    footer {
        margin: 0 60px;
    }

    select {
        width: 60%;
    }

}


@media only screen and (max-width: 992px) {

    select {
        width: 80%;
    }

}

@media only screen and (max-width: 750px) {

    nav,
    footer {
        margin: 0 30px;
    }

    select {
        width: 35%;
    }

}

.navbar-brand img {
    width: 100%;
}

@media only screen and (max-width: 576px) {

    select {
        width: 40%;
    }

}

@media only screen and (max-width: 425px) {

    select {
        width: 50%;
    }

}

@media only screen and (max-width: 375px) {

    select {
        width: 70%;
    }

}
